<footer class="footer">
  <small>
    本网站源码<a href="#">点此查看</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于本站", about_path %></li>
      <li><%= link_to "联系我", contact_path %></li>
    </ul>
  </nav>
</footer>
